
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Erp</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Erp后台管理</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">库存管理</a></li>
                <li class="layui-nav-item"><a href="">员工管理</a></li>
                <li class="layui-nav-item"><a href="">生产管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">查看日志</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="" class="layui-icon layui-icon-logout" style="font-size:20px; color:#FF0000;">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="layui-icon layui-icon-dollar" style="font-size:20px; color:#1D8899;" href="javascript:;">生产管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="ProduceAdd">添加生产</a></dd>
                            <dd><a href="ProduceShow">生产排期</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="layui-icon layui-icon-friends" style="font-size:20px; color:#1D8899;" href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="UserinfoShow">所有员工</a></dd>
                            <dd><a href="UserinfoAdd">入职员工</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="layui-icon layui-icon-form" style="font-size:20px; color:#1D8899;" href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="GoodsShow">查看库存</a></dd>
                            <dd><a href="GoodsAdd">库存加入</a></dd>


                        </dl>
                    </li>
                    
                    <li class="layui-nav-item"><a href="">正在开发...</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 300px 200px 200px 600px;">
                <form class="layui-form" action="">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">商品名称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="roleName" id="roleName" lay-verify="required" lay-reqtext="必填项，岂能为空？" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生产日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="addMoneys" id="addMoneys" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入生产日期" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">保质期:</label>

                        <div class="layui-input-inline">
                            <input type="text" name="bzq" id="bzq" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入保质期" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">执行编号:</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="请输入执行编号" lay-verify="required" lay-reqtext="必填项，岂能为空？" class="layui-input" name="bh" id="bh"></textarea>
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">商家联系电话:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="phone" id="phone" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入商家联系电话" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">库存:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="sum" id="sum" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入库存" class="layui-input">
                        </div>

                    </div>

                    <div class="layui-form-item">

                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                    </div>
                </form>
            </div>


        </div>


        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 专注Erp管理/ - 底部固定区域
        </div>
    </div>


</body>
</html>


<script>

    $(function () {
        layui.use(['form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form
            var layer = layui.layer
            var layedit = layui.layedit
            var laydate = layui.laydate;
            var element = layui.element;

            //添加
            form.on('submit(add)', function (data) {
                //layer.msg(JSON.stringify(data.field));
                //int和bool得转换格式
                var obj = {};
                obj.Gname = $("#roleName").val();
                var dde = $("#addMoneys");
                obj.Gscdata = $(dde).val();

                obj.Gbz = $("#bzq").val();
                obj.Gzxbz = $("#bh").val();

                obj.Gphone = $("#phone").val();
                obj.Gnum = parseInt($("#sum").val());
                $.ajax({
                    url: "http://localhost:44370/api/Goods/Add",
                    dataType: "json",
                    type: "post",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (data) {

                        if (data > 0) {
                            layer.alert('提交成功',
                             {
                                 icon: 6,
                                 yes: function (index) {
                                     layer.close(index);
                                     location.reload();
                                 }
                             });

                        } else {
                            layer.alert('提交失败', { icon: 5 });
                        }
                    }
                });
                return false;
                });
        });
    });
    
</script>


