
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Erp</title>
    <script src="~/layui/jquery-3.3.1.js"></script>
 
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Erp后台管理</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">库存管理</a></li>
                <li class="layui-nav-item"><a href="">员工管理</a></li>
                <li class="layui-nav-item"><a href="">生产管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">查看日志</a></dd>
                        <dd><a href="">授权管理</a></dd>

                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="" class="layui-icon layui-icon-logout" style="font-size:20px; color:#FF0000;">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="layui-icon layui-icon-dollar" style="font-size:20px; color:#1D8899;" href="javascript:;">生产管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="ProduceAdd">添加生产</a></dd>
                            <dd><a href="ProduceShow">生产排期</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="layui-icon layui-icon-friends" style="font-size:20px; color:#1D8899;" href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="UserinfoShow">所有员工</a></dd>
                            <dd><a href="UserinfoAdd">入职员工</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="layui-icon layui-icon-form" style="font-size:20px; color:#1D8899;" href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="GoodsShow">查看库存</a></dd>
                            <dd><a href="GoodsAdd">库存加入</a></dd>


                        </dl>
                    </li>

                    <li class="layui-nav-item"><a href="">正在开发...</a></li>
                </ul>
            </div>
        </div>


        <!-- 内容主体区域 -->
        <div style="padding:15px 15px 15px 230px ;">
            <form class="layui-form" action="">
                <div style="display:none" id="editdiv">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品id:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="gid" id="gid" lay-verify="required" lay-reqtext="必填项，岂能为空？" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">商品名称:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="gname" id="gname" lay-verify="required" lay-reqtext="必填项，岂能为空？" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">生产日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="gscdata" id="gscdata" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入生产日期" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">保质期:</label>

                        <div class="layui-input-inline">
                            <input type="text" name="bzq" id="bzq" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入保质期" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">执行编号:</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="请输入执行编号" lay-verify="required" lay-reqtext="必填项，岂能为空？" class="layui-input" name="gzxbz" id="gzxbz"></textarea>
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">商家联系电话:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="gphone" id="gphone" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入商家联系电话" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">库存:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="gsum" id="gsum" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入库存" class="layui-input">
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" id="laysubmit" lay-filter="edit">修改</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>

                </div>
            </form>
            搜索姓名：
            <div class="layui-inline">
                <input class="layui-input" name="name" id="name" autocomplete="off">
            </div>
            <button id="searchBtn" class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button>
            <table id="idTest" lay-filter="demo"></table>


        </div>


        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 专注Erp管理/ - 底部固定区域
        </div>
    </div>

    <script type="text/html" id="barDemo">

        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    </script>

</body>
</html>

<script>

   
        //JavaScript代码区域
        layui.use(['table', 'form', 'jquery', 'element', 'layer'], function () {
            var table = layui.table;
            var form = layui.form;
            var element = layui.element;
            var layer = layui.layer;
            var laydate = layui.laydate;

            form.render('select');
            table.render({
                elem: '#idTest',
                url: 'http://localhost:44370/api/Goods/Show',
                cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,
                title: '商品信息',
                page: true //是否显示分页
                ,
                limit: 10 //每页默认显示的数量
                , limits: [10, 20, 30, 40, 50]
                , method: 'get'
                , cols: [
                    [
                        { field: 'gid', title: '商品id', align: 'center' },
                        { field: 'gname', title: '商品姓名', align: 'center' },
                        { field: 'gscdata', title: '商品生产日期', align: 'center' },
                        { field: 'gbz', title: '商品保质期', align: 'center' },
                        { field: 'gzxbz', title: '商品执行编号', align: 'center' },
                        { field: 'gphone', title: '商家联系电话', align: 'center' },
                        { field: 'gnum', title: '库存数', align: 'center' },
                        { fixed: 'right', title: '操作', width: 250, align: 'center', toolbar: '#barDemo' }

                    ]
                ],
                id: 'idTest'

            });



            //搜索
            $("#searchBtn").on('click', function () {
                var cId = $("#cId");
                var name = $("#name");

                //执行重载
                table.reload('idTest', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        name: name.val(),
                        cId: parseInt(cId.val())

                    }
                });
            });
            form.on('submit(edit)',
                function (data) {
                    //layer.msg(JSON.stringify(data.field));
                    //int和bool得转换格式
                    var obj = {};
                    obj.gid = parseInt($("#gid").val());
                    obj.gname = $("#gname").val();
                    var gscdata = $("#gscdata");
                    obj.gscdata = $(gscdata).val();

                    obj.gbz = $("#bzq").val();

                    obj.gzxbz =$("#gzxbz").val();
                   
                    obj.gphone = $("#gphone").val();
                    obj.gnum = parseInt($("#gsum").val());

                    $.ajax({
                        url: "http://localhost:44370/api/Goods/Upt",
                        dataType: "json",
                        type: "post",
                        data: JSON.stringify(obj),
                        contentType: "application/json",
                        success: function (data) {

                            if (data > 0) {
                                layer.alert('修改成功',
                                    {
                                        icon: 6,
                                        yes: function (index) {
                                            layer.close(index);
                                            location.reload();
                                        }
                                    });

                            } else {
                                layer.alert('修改失败', { icon: 5 });
                            }
                        }
                    });
                    return false;
                });
            table.on('tool(demo)',
                function (obj) {
                    var data = obj.data;
                    if (obj.event === 'detail') {
                        layer.msg('ID：' + data.Gid + ' 的查看操作');
                    } else if (obj.event === 'del') {
                        layer.confirm('真的删除行么',
                            function (index) {
                                layer.close(index);
                                //layer.alert('编辑行：<br>' + JSON.stringify(data));

                                gid = data.gid;
                                $.ajax({
                                    url: "http://localhost:44370/api/Goods/Del?id="+gid,
                                    dataType: "json",
                                    type: "post",
                                    contentType: "application/json",
                                    success: function (data) {
                                        if (data > 0) {
                                            layer.alert('已删除',
                                                {
                                                    icon: 6,
                                                    yes: function (index) {
                                                        layer.close(index);
                                                        obj.del();
                                                    }
                                                });

                                        }
                                        else {
                                            layer.msg("删除失败", { icon: 5 });
                                        }

                                    }

                                });
                            });
                    } else if (obj.event === 'edit') {
                        //layer.alert('编辑行：<br>' + JSON.stringify(data));
                        //页面层

                        layer.open({
                            maxmin: true,
                            type: 1,
                            title: "修改",
                            area: ['500px', '500px'], //宽高
                            content: $("#editdiv"),
                        });
                        //重新渲染下拉
                        form.render('select');
                        //反填
                        form.val('example',
                            {
                                "Gid": data.gid,
                                "gname": data.gname,
                                "gscdata": data.gscdata,
                                "gbz": data.gbz,// "name": "value"
                                "gzxbz": data.gzxbz,
                                "gphone": data.gphone,
                                "gnum": data.gsum,

                            });
                    }
                });
        });
    
</script>




