
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Erp</title>
    <script src="~/layui/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script src="../layui/layui.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Erp后台管理</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">库存管理</a></li>
                <li class="layui-nav-item"><a href="">员工管理</a></li>
                <li class="layui-nav-item"><a href="">生产管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">查看日志</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">

                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href=""class="layui-icon layui-icon-logout" style="font-size:20px; color:#FF0000;">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="layui-icon layui-icon-dollar" style="font-size:20px; color:#1D8899;" href="javascript:;">生产管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="ProduceAdd">添加生产</a></dd>
                            <dd><a href="ProduceShow">生产排期</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="layui-icon layui-icon-friends" style="font-size:20px; color:#1D8899;" href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="UserinfoShow">所有员工</a></dd>
                            <dd><a href="UserinfoAdd">入职员工</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="layui-icon layui-icon-form" style="font-size:20px; color:#1D8899;" href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="GoodsShow">查看库存</a></dd>
                            <dd><a href="GoodsAdd">库存加入</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a  href="javascript:;">销量报表</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">销量报表</a></dd>


                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">正在开发...</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 300px 200px 200px 600px;">
                <form class="layui-form" action="">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生产id:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="roleName" id="roleName" lay-verify="required" lay-reqtext="必填项，岂能为空？" autocomplete="off" placeholder="请输入生产id" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生产名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="addMoneys" id="addMoneys" lay-verify="required" autocomplete="off" lay-reqtext="必填项，岂能为空？" placeholder="请输入生产名称" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">生产日期:</label>
                       
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test22" placeholder="yyyy-MM-dd">
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">生产数量:</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="请输入内容" lay-verify="required" lay-reqtext="必填项，岂能为空？" class="layui-input" name="num" id="num"></textarea>
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text">

                        <label class="layui-form-label">生产完成日期:</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test25" placeholder="yyyy-MM-dd">
                        </div>

                    </div>
                    <div class="layui-form-item">

                        <button id="lay_btn" type="submit" class="layui-btn " lay-submit="" lay-filter="add">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                    </div>
                </form>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 专注Erp管理/ - 底部固定区域
        </div>
    </div>

 
</body>
</html>




    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
            var layer = layui.layer
            var layedit = layui.layedit
            var laydate = layui.laydate;
                 laydate.render({
                     elem: '#test22' //指定元素
                     
                 });
            laydate.render({
                elem: '#test25' //指定元素

            });
            //添加
            form.on('submit(add)',
                function (data) {
                    //layer.msg(JSON.stringify(data.field));
                    //int和bool得转换格式
                    var obj = {};
                    obj.Proid = parseInt($("#roleName").val());
                    obj.Proname = $("#addMoneys").val();
                    var startdate = $("#test22");
                    obj.Proscdate = $(startdate).val();
                    obj.Pronum = parseInt($("#num").val());
                    var enddate = $("#test25");
                    obj.Proyj = $(enddate).val();
                    $.ajax({
                        url: "http://localhost:44370/api/Produce/Add",
                        dataType: "json",
                        type: "post",
                        data: JSON.stringify(obj),
                        contentType: "application/json",
                        success: function (data) {
                            //alert("成功");
                            if (data > 0) {
                                layer.alert('提交成功',
                                    {
                                        icon: 6,
                                        yes: function (index) {
                                            layer.close(index);
                                            location.reload();
                                        }
                                    });

                            } else {
                                layer.alert('提交失败', { icon: 5 });
                            }
                        }
                    });
                    return false;
                });
        });
    </script>






