
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGoods</title>
    <script src="~/layui/layui.js"></script>
    <script src="~/layui/jquery-3.3.1.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Erp后台管理</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">库存管理</a></li>
                <li class="layui-nav-item"><a href="">员工管理</a></li>
                <li class="layui-nav-item"><a href="">生产管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">查看日志</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href=""class="layui-icon layui-icon-logout" style="font-size: 20px; color: #FF5722;">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">

                    <li class="layui-nav-item">
                        <a href="javascript:;"class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;">商品管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="ShowGoods">查看商品</a></dd>
                            <dd><a href="Faction">销量报表</a></dd>
                            <dd><a href="Assess">销量评级</a></dd>
                            <dd><a href="AddMoney">加薪申请</a></dd>

                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">正在开发...</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <form class="layui-form" lay-filter="component-form-group" id="search_submits" onsubmit="return false">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">
                        <div class="layui-inline">
                            <label class="layui-form-label">编号：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="gid" name="gid" placeholder="编号" style="width:180px">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="gname" name="gname" placeholder="商品名称" style="width:180px">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit="search_submits" lay-filter="reloadlst_submit">查询</button>
                        </div>
                    </div>
                </form>

                <div>
                    <table class="layui-hide" id="demo" lay-filter="test"></table>
                    
                </div>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 专注Erp管理/ - 底部固定区域
        </div>
    </div>

    <script>

        layui.use('element', function () {
            var element = layui.element;

        });
    </script>


    
    <form class="layui-form" lay-filter="example">
        <div style="display: none" id="editdiv">
            <div>
                <input type="hidden" id="ggid" />
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">销量-</label>
                <div class="layui-input-block">
                    <div hidden="hidden" id="sb"></div>
                    <input type="text" name="num" id="num" autocomplete="off" placeholder="请输入减少的库存" class="layui-input" style="width:180px">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="edit">销售</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
            
        </div>
    </form>

</body>
</html>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script language="javascript">
    $(function () {

        layui.use(['table', 'form', 'jquery', 'element', 'layer'], function () {
            var table = layui.table;
            var form = layui.form;
            table.render({
                elem: '#demo',
                url: 'http://localhost:44370/api/Sell/GoodsShow',
                title: '学生信息'
                , page: true
                , limit: 2
                , limits: [2, 4, 6, 8]
                , method: 'get'
                , cols: [
                    [
                        { field: 'Gid', title: '编号', align: 'center' },
                        { field: 'Gname', title: '名称', align: 'center' },
                        { field: 'Gscdate', title: '生产日期', align: 'center' },
                        { field: 'Gbz', title: '保质期', align: 'center' },
                        { field: 'Gzxbz', title: '执行标准号', align: 'center' },
                        { field: 'Gphone', title: '联系电话', align: 'center' },
                        { field: 'Gnum', title: '库存', align: 'center' },
                        { fixed: 'right', title: '操作', width: 110, align: 'center', toolbar: '#barDemo', width: 150 }
                    ]
                ]
            });

            //列表搜索
            form.on('submit(reloadlst_submit)', function () {
                var Gid = $("#gid").val();
                var Gname = $("#gname").val();

                table.render({
                    elem: '#demo'
                    , url: "http://localhost:44370/api/Sell/SearchGoods?id=" + Gid + "&name=" + Gname + ""
                    , page: true
                    , limit: 2
                    , limits: [2, 4, 6, 8]
                    , method: 'get'
                    , cols: [[
                        { field: 'Gid', title: '编号', align: 'center' },
                        { field: 'Gname', title: '名称', align: 'center' },
                        { field: 'Gscdate', title: '生产日期', align: 'center' },
                        { field: 'Gbz', title: '保质期', align: 'center' },
                        { field: 'Gzxbz', title: '执行标准号', align: 'center' },
                        { field: 'Gphone', title: '联系电话', align: 'center' },
                        { field: 'Gnum', title: '库存', align: 'center' },
                        { fixed: 'right', title: '操作', width: 110, align: 'center', toolbar: '#barDemo', width: 150 }
                    ]]

                    , where: {
                        token: layui.data('layuiAdmin').token
                    }
                });
                return false;
            });


            form.on('submit(edit)', function (data) {
                //layer.msg(JSON.stringify(data.field));
                //int和bool得转换格式

                var gid = parseInt($("#sb").html());
                var num = parseInt($("#num").val());
                $.ajax({
                    url: "http://localhost:44370/api/Sell/GoodsUpt?gid=" + gid + "&num=" + num + "",
                    dataType: "text",
                    type: "post",
                    contentType: "application/json",
                    success: function (data) {
                        if (data > 0) {
                            layer.alert('修改成功',
                                {
                                    icon: 6,
                                    yes: function (index) {
                                        layer.close(index);
                                        location.reload();
                                        StatisUpt();
                                    }
                                });

                        } else {
                            layer.alert('修改失败', { icon: 5 });
                        }
                    }
                });
                return false;
            });
             

            //监听工具条
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        var a = {};
                        a.gid = data.Gid;
                        $.ajax({
                            url: "http://localhost:44370/api/Sell/GoodsDel",
                            dataType: "json",
                            type: "post",
                            data: JSON.stringify(a),
                            contentType: "application/json",
                            success: function (data) {
                                if (data > 0) {
                                    alert("删除成功");
                                    GetReceiptData(where, dateTime);
                                }
                                else {
                                    alert("删除失败");
                                    GetReceiptData(where, dateTime);
                                }
                            }
                        });
                    });
                } else if (obj.event === 'edit') {
                    //layer.alert('编辑行：<br>' + JSON.stringify(data));
                    //页面层
                    var gid=$("#sb").html(data.Gid);
                    layer.open({
                        type: 1,
                        maxmin: true,
                        title: "修改",
                        area: ['500px', '300px'], //宽高
                        content: $("#editdiv")
                    });

                }
            });


        });
    });

   
    function StatisUpt(stid, num) {
         var getMonthWeek = function(a, b, c)
         {
         /*
         a = d = 当前日期
         b = 6 - w = 当前周的还有几天过完(不算今天)
         a + b 的和在除以7 就是当天是当前月份的第几周
         */
                 var date = new Date(a, parseInt(b) - 1, c),
                     w = date.getDay(),
                     d = date.getDate();
                 return Math.ceil((d + 6 - w) / 7);
         };
         var getYearWeek = function(a, b, c)
         {
             /*
             date1是当前日期
             date2是当年第一天
             d是当前日期是今年第多少天
             用d + 当前年的第一天的周差距的和在除以7就是本年第几周
             */
                 var date1 = new Date(a, parseInt(b) - 1, c),
                     date2 = new Date(a, 0, 1),
                     d = Math.round((date1.valueOf() - date2.valueOf()) / 86400000);
                 return Math.ceil((d + ((date2.getDay() + 1) - 1)) / 7);
         };
         today = new Date(); //获取当前时间
         var y = today.getFullYear();
         var m = today.getMonth() + 1;
         var d = today.getDate();
         if (getMonthWeek(y, m, d)==1) {
             stid = 1;
         }
         else if (getMonthWeek(y, m, d)==2) {
             stid = 2;
         }
         else if (getMonthWeek(y, m, d)==3) {
             stid = 3;
         }
         else{
             stid = 4;
         }
         var num = $("#num").val();
        
        $.ajax({
            url: "http://localhost:44370/api/Sell/StatisUpt?stid=" + stid + "&num=" + num + "",
            type: "Post",
            dataType: "JSON",
            success: function () {
                alert("已累加到第"+stid+"周的销量中");
            }
        });
    }
 
     
</script>