
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link href="../css1/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Erp管理后台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">生产管理</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">员工管理</a></li>
                <li class="layui-nav-item layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">加薪管理</a></dd>
                        <dd><a href="">能力评级</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        鹏凯
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">商品管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">库存显示</a></dd>
                            <dd><a href="javascript:;">商品下架</a></dd>
                            <dd><a href="javascript:;">商品修改</a></dd>
                            
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">员工显示</a></dd>
                            <dd><a href="javascript:;">入职员工</a></dd>
                            <dd><a href="javascript:;">开除员工</a></dd>
                            
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">生产入库</a></li>
                    <li class="layui-nav-item"><a href="">努力开发...</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <table class="layui-table layui-form">
                    <colgroup>
                        <col width="80">
                        <col width="80">
                        <col width="150">
                        <col width="80">
                        <col width="80">
                        <col width="80">
                        <col>
                        <col width="150">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>排序</th>
                            <th>名称</th>
                            <th>英文名</th>
                            <th>显示</th>

                            <th>操作</th>
                        </tr>
                    </thead>
                     </table>
            </div>

        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 雷神集团- 底部固定区域
        </div>
    </div>
   
    <script src="../modules/layui.js"charset="utf-8"></script>
    <script>
//JavaScript代码区域
        layui.use('form', function () {
            var form = layui.form, layer = layui.layer, $ = layui.jquery;

            form.on('switch(state)', function (data) {
                var id = $(data.elem).attr("data-id");
                $.ajax({
                    url: "https://localhost:44370/api/Goods/Show",
                   
                    type: "Get",
                    dataType: "json",
                    success: function (date) {
                        $("table tr:gt(0)").remove();
                        $(data).each(function () {
                            var tr = ' <tr>'
                                + '<td>' + this.Gid + '</td>'
                                + '<td>' + this.Gname + '</td>'
                                + '<td>' + this.Gscdata + '</td>'
                                + '<td>' + this.Gbz + '</td>'
                                + '<td>' + this.Gzxbz + '</td>'
                                + '<td>' + this.Gphone + '</td>'
                                + '<td>' + this.num + '</td>'
                                + '</tr >'
                            $("table").append(tr);
                        })
                    }
                });
            });

        });
    </script>
</body>
</html>
